@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@layer base {
  body {
    @apply bg-gray text-black;
  }

  h1 {
    @apply text-3xl text-white font-display;
  }

  h2 {
    @apply text-lg font-medium font-sans;
  }

  nav {
    @apply bg-black flex md:px-6 py-2 px-3 place-content-between items-center h-[52px] sticky top-0 z-10;
  }

  p {
    @apply font-sans text-base;
  }

  a {
    @apply text-default hover:underline;
  }

  svg {
    @apply shrink-0;
  }

  .content {
    @apply flex md:flex-row flex-col h-full;
  }

  aside {
    @apply bg-white flex md:flex-col shadow flex-row overflow-x-scroll
    lg:fixed z-10 sticky top-[52px] md:h-[calc(100vh-52px)];
  }

  ul {
    @apply list-disc pl-4;
  }

  div[role="group"] {
    @apply flex flex-col border-black;
  }

  .focus-white {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-opacity-75 focus-visible:ring-white rounded-lg;
  }

  .editor-menu > button[disabled] > svg {
    @apply fill-black/30;
  }
}

@layer utilities {
  .checkbox-group {
    @apply flex space-x-2 items-center;
  }

  .modal-bg {
    @apply transition-opacity duration-150 opacity-0 bg-black/40 fixed h-screen w-screen top-0 left-0 z-10 flex;
  }
  
  .modal-bg--after-open{
    @apply opacity-100;
  }
  
  .modal-bg--before-close{
    @apply opacity-0;
  }

  .modal-content {
    @apply bg-white md:w-[30rem] w-screen h-max p-4 my-auto md:mx-auto rounded-md shadow-sm mx-4;
  }

  .major-btn {
    @apply py-3 px-6 rounded-lg bg-white shadow-sm mb-3 w-[96vw] max-w-md mx-auto
    focus:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-opacity-50 focus-visible:ring-offset-0
    hover:bg-default/20 active:bg-default/30 transition-colors duration-100;
  }

  .cs-content a {
    @apply text-cs;
  }
}

.tippy-box[data-animation=fade][data-state=hidden] {
  @apply opacity-0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px)
}

.tippy-box {
  @apply relative bg-black/90 text-white text-sm rounded-md;
  line-height: 1.4;
  white-space: normal;
  outline: 0;
  transition-property: transform, visibility, opacity;
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  @apply bottom-0;
}

.tippy-box[data-placement^=top] >.tippy-arrow:before {
  @apply -bottom-2 left-0 border-x-8 border-t-8 border-b-0;
  border-top-color: initial;
  transform-origin: center top;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  @apply top-0;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  @apply -top-2 left-0 border-x-8 border-b-8 border-t-0;
  border-bottom-color: initial;
  transform-origin: center bottom;
}

.tippy-box[data-placement^=left] > .tippy-arrow {
  @apply right-0;
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
  @apply -right-2 border-l-8 border-r-0 border-y-8;
  border-left-color: initial;
  transform-origin: center left;
}

.tippy-box[data-placement^=right] > .tippy-arrow {
  @apply left-0;
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
  @apply -left-2 border-y-8 border-r-8 border-l-0;
  border-right-color: initial;
  transform-origin: center right;
}

.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11)
}

.tippy-arrow {
  @apply w-4 h-4;
  color: rgb(49 8 31 / 0.9);
}

.tippy-arrow:before {
  @apply content-none absolute border-transparent border-solid;
}

.tippy-content {
  @apply relative py-1 px-2 z-10;
}