@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@layer base {
  body {
    @apply bg-gray text-black;
  }

  h1 {
    @apply text-3xl text-white font-display;
  }

  h2 {
    @apply text-lg font-medium font-sans;
  }

  nav {
    @apply bg-black flex md:px-6 py-2 px-3 place-content-between items-center h-[52px] sticky top-0 z-10;
  }

  p {
    @apply font-sans text-base;
  }

  a {
    @apply text-default hover:underline;
  }

  svg {
    @apply shrink-0;
  }

  .content {
    @apply flex md:flex-row flex-col h-full;
  }

  aside {
    @apply bg-white flex md:flex-col shadow flex-row overflow-x-scroll
    lg:fixed z-10 sticky top-[52px];
  }

  @media (min-width: 768px) {
    aside, .content {
      height: calc(100vh - 52px);
    }
  }

  ul {
    @apply list-disc pl-4
  }

  div[role="group"] {
    @apply flex flex-col border-black;
  }

  .focus-white {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-opacity-75 focus-visible:ring-white rounded-lg;
  }

  button[disabled] svg {
    @apply fill-black/30
  }
}

@layer utilities {
  .checkbox-group {
    @apply flex space-x-2 items-center;
  }

  .modal-bg {
    @apply absolute bg-black/40 w-screen h-screen flex z-20 top-0 left-0;
  }

  .modal-content {
    @apply bg-white md:w-[30rem] w-screen h-max p-4 my-auto md:mx-auto rounded-md shadow-sm mx-4;
  }

  .major-btn {
    @apply py-3 px-6 rounded-lg bg-white shadow-sm mb-3 w-[96vw] max-w-md mx-auto
    focus:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-opacity-50 focus-visible:ring-offset-0
    hover:bg-default/20 active:bg-default/30 transition-colors duration-100;
  }
  
  .cs-content a {
    @apply text-cs;
  }

  .active-menu-btn {
    @apply bg-black/10 rounded-md
  }
}